
<div class="form_wrapper mt-4" style="align-items:center;"style="width: 150vh;">

  <div class="form_container " >
    <div class="title_container">
      <h2 class="text-center">Ajouter Vehicule  </h2>
    </div>
    <div class="row clearfix">
      <div class="">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">

          <div class="form-group">
            <label for="marque">marque</label>
            <input type="text" #marque (ngModel)="marque" name="marque" id="marque" class="form-control" placeholder="marque" required>
          </div>
          <div class="form-group">
            <label for="modele">modele</label>
            <input type="text" #modele (ngModel)="modele" name="modele" id="modele" class="form-control" placeholder="modele" required>
          </div>
          <div class="form-group">
            <label for="couleur">couleur</label>
            <input type="text" #couleur (ngModel)="couleur" name="couleur" id="couleur" class="form-control" placeholder="couleur" required>
          </div>
          <div class="form-group">
            <label for="carburant">carburant</label>
            <input type="text" #carburant (ngModel)="carburant" name="carburant" id="carburant" class="form-control" placeholder="carburant" required>
          </div>
          <div class="form-group">
            <label for="automatique">automatique</label>
            <input type="text" #automatique (ngModel)="automatique" name="automatique" id="automatique" class="form-control" placeholder="automatique" required>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-center align-items-center">
              <input type="submit" value="Register" class="btn btn-warning btn-lg mt-5 ms-2 ">
            </div>
          </div>
          <br>
          <div class="alert  alert-success alert-dismissible fade show" role="alert" id="successAlert" *ngIf="showSuccessAlert">
            <strong>Registration Success! </strong>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
