<div>
  <section class="table__header">
    <h1>Liste des véhicules</h1>
  </section>
  <table class="table table-bordered mt-4">
    <thead class="thead">
    <tr>
      <th>Marque</th>
      <th>Modèle</th>
      <th>Couleur</th>
      <th>Carburant</th>
      <th>Automatique</th>
      <th>Rapport</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody class="tbody">
    <tr *ngFor="let vehicule of studentDetails; let i = index">
      <td>{{ vehicule.marque }}</td>
      <td>{{ vehicule.modele }}</td>
      <td>{{ vehicule.couleur }}</td>
      <td>{{ vehicule.carburant }}</td>
      <td>{{ vehicule.automatique ? 'Oui' : 'Non' }}</td>
      <td>
        <!-- Checkbox pour activer/désactiver l'écriture du rapport -->
        <input type="checkbox" (change)="toggleRapportMode($event, i)">
      </td>
      <td>
        <!-- Affichage du bouton "Écrire rapport" uniquement lorsque le checkbox est coché -->
        <button *ngIf="rapportMode[i]" class="btn btn-primary" (click)="ecrireRapport(vehicule)">Écrire rapport</button>

      </td>

    </tr>
    </tbody>
  </table>
</div>
