<!-- list-fiche.component.html -->

<div>
    <section class="table__header">
    <h1>Liste des fiches de recherche </h1>
    <div class="input-group">
    </div>

  </section>
  <table class="table table-bordered mt-4">
    <thead class="thead">
    <br><br>
    <ng-container *ngIf="fiches.length > 0">
      <tr>
        <th>ID</th>
        <th *ngIf="fiches[0].personne">CIN</th>
        <th *ngIf="fiches[0].personne">Nom</th>
        <th *ngIf="fiches[0].personne">Prenom</th>
        <th *ngIf="fiches[0].personne">Adresse</th>
        <th *ngIf="fiches[0].personne">Numéro de téléphone</th>
        <th *ngIf="fiches[0].personne">Email</th>
        <th *ngIf="fiches[0].personne">Age</th>
        <th *ngIf="fiches[0].personne">Sexe</th>
        <th>Vehicules</th>
        <th style="font-weight: bold; color: #b80434">Action</th>
      </tr>
    </ng-container>
    </thead>
    <tbody>
      <tr *ngFor="let fiche of fiches">
        <td>{{ fiche.id }}</td>
        <td>{{ fiche.personne?.CIN }}</td>
        <td>{{ fiche.personne?.nom }}</td>
        <td>{{ fiche.personne?.prenom }}</td>
        <td>{{ fiche.personne?.adresse }}</td>
        <td>{{ fiche.personne?.numeroTelephone }}</td>
        <td>{{ fiche.personne?.email }}</td>
        <td>{{ fiche.personne?.age }}</td>
        <td>{{ fiche.personne?.sexe }}</td>
        <td>{{ getVehiculeList(fiche.vehicules) }}</td>
        <td>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="showVehicleDetails(fiche)" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
              <path d="M12.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1.5 1.5 0 0 1-1.088.352l-3.5-1A1.5 1.5 0 0 1 1 11.5v-3.793l9-9zM14.793 2.5 12 5.293 10.707 4l2.793-2.793a.5.5 0 0 1 .707 0l1.5 1.5a.5.5 0 0 1 0 .707z"/>
              <path fill-rule="evenodd" d="M3.146 13.354a.5.5 0 0 0-.146.353v1.5a.5.5 0 0 0 .5.5h1.5a.5.5 0 0 0 .353-.146L12.354 9.5a.5.5 0 0 0 0-.707l-1.5-1.5a.5.5 0 0 0-.707 0L3.146 13.354zM4 14h-1v-1l7.5-7.5 1 1L4 14z"/>
            </svg>
            détails
          </button>
        </td>

      </tr>
    </tbody>
  </table>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Détails de la fiche</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="selectedFiche">
          <h3>Détails pour fiche Son ID :: {{ selectedFiche?.id }}</h3>
          <ul>
            <li *ngFor="let vehicule of selectedFiche?.vehicules">
              <strong>Marque:</strong> {{ vehicule.marque }}<br>
              <strong>Modele:</strong> {{ vehicule.modele }}<br>
              <strong>Couleur:</strong> {{ vehicule.couleur }}<br>
              <strong>Carburant:</strong> {{ vehicule.carburant }}<br>
              <strong>Automatique:</strong> {{ vehicule.automatique ? 'Yes' : 'No' }}<br>
              <strong>License Plate:</strong> {{ vehicule.licenseplate }}<br>
              <br>            </li>
          </ul>
        </div>
      </div>
    </div>
</div>
</div>
