<!-- list-fiche.component.html -->

<div>
  <h2>List of Fiches</h2>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>CIN</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Adresse</th>
        <th>Numéro de téléphone</th>
        <th>Email</th>
        <th>Age</th>
        <th>Sexe</th>
        <th>Vehicules</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fiche of fiches">
        <td>{{ fiche.id }}</td>
        <td>{{ fiche.personne?.CIN }}</td>
        <td>{{ fiche.personne?.nom }}</td>
        <td>{{ fiche.personne?.prenom }}</td>
        <td>{{ fiche.personne?.adresse }}</td>
        <td>{{ fiche.personne?.numeroTelephone }}</td>
        <td>{{ fiche.personne?.email }}</td>
        <td>{{ fiche.personne?.age }}</td>
        <td>{{ fiche.personne?.sexe }}</td>
        <td>{{ getVehiculeList(fiche.vehicules) }}</td>
        <td>
          <button (click)="showVehicleDetails(fiche)">Show Details</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="selectedFiche">
    <h3>Details for Fiche ID {{ selectedFiche?.id }}</h3>
    <ul>
      <li *ngFor="let vehicule of selectedFiche.vehicules">
        <strong>Marque:</strong> {{ vehicule.marque }}<br>
        <strong>Modele:</strong> {{ vehicule.modele }}<br>
        <strong>Couleur:</strong> {{ vehicule.couleur }}<br>
        <strong>Carburant:</strong> {{ vehicule.carburant }}<br>
        <strong>Automatique:</strong> {{ vehicule.automatique ? 'Yes' : 'No' }}<br>
        <strong>License Plate:</strong> {{ vehicule.licenseplate }}<br>
        <br>
      </li>
    </ul>
  </div>
</div>
